# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Java
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
application-local.properties